Project1 - recipe book
<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>
    </div>
  </div>
</div>





<!--Section 9 Services-->

<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-xs-12 col-md-8 col-md-offset-2">-->
      <!--<app-new-account></app-new-account>-->
      <!--<hr>-->
      <!--<app-account-->
        <!--*ngFor="let acc of accounts; let i = index"-->
        <!--[account]="acc"-->
        <!--[id]="i"></app-account>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<!--Start of section 7-->

<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
      <!--<button-->
        <!--class="btn btn-primary"-->
        <!--(click)="onlyOdd = !onlyOdd">Only show odd numbers</button>-->
      <!--<br><br>-->
      <!--<ul class="list-group">-->
        <!--<li-->
          <!--class="list-group-item">-->
        <!--</li>-->
      <!--</ul>-->
      <!--<ng-template [ngIf]="onlyOdd">-->
        <!--<p>Only odd</p>-->
      <!--</ng-template>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<!--End of section 5-->

<!--<div class="container">-->
  <!--<app-cockpit-->
    <!--(serverCreated)="onServerAdded($event)"-->
    <!--(bpCreated)="onBlueprintAdded($event)"-->
  <!--&gt;</app-cockpit>-->
  <!--<hr>-->
  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
      <!--<button class="btn btn-primary" (click)="onChangeFirst()">Change first Element</button>-->
      <!--<button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first Component</button>-->
      <!--<app-server-element-->
        <!--*ngFor="let serverElement of serverElements"-->
        <!--[srvElement]="serverElement"-->
        <!--[name]="serverElement.name">-->
        <!--<p #contentParagraph>-->
          <!--<strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>-->
          <!--<em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>-->
        <!--</p>-->
      <!--</app-server-element>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->







<!--Basics / Servers-->
<!--<app-header></app-header>-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->

<!--<h3>I am in the app component</h3>-->
<!--<hr>-->
<!--<app-servers></app-servers>-->

<!--<br>-->
<!--<hr>-->
<!--<br>-->
<!--<app-directives-ex2></app-directives-ex2>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->




<!--Project2-->
<!--<div class="container">-->

  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
      <!--<app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
      <!--<app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>-->
      <!--<app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>-->
    <!--</div>-->
  <!--</div>-->

<!--</div>-->

<!--Debugging-->
<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
      <!--<h2>My Servers</h2>-->
      <!--<button class="btn btn-primary" (click)="onAddServer()">Add Server</button>-->
      <!--<br><br>-->
      <!--<ul class="list-group">-->
        <!--<li-->
          <!--class="list-group-item"-->
          <!--*ngFor="let server of servers; let i = index"-->
          <!--(click)="onRemoveServer(i)">{{ server }}</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
