<button class="btn btn-primary" (click)="onShowPassword()">Display Details</button>

<p *ngIf="passwordVisible">Secret Password = {{ pass }}</p>

<p
  *ngFor="let pas of passwords; let i = index"
  [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
  [ngClass]="{'white-text': i >= 4}"
> {{ pas }}</p>
